
name: UI tests execution

on: [push]

jobs:
  test:
    name: Test
    timeout-minutes: 10

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name: Checkout code
        uses: percona-platform/checkout@v2.3.2

      - name: Install Node.js ${{ matrix.node-version }}
        uses: percona-platform/setup-node@v2.1.1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Enable node_modules cache
        uses: percona-platform/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
            ~/.npm
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-
      - name: Install tools
        run: make init

      - name: Bootstrap projects
        run: make bootstrap

      - name: Build artifacts
        run: make build

      - name: Run tests
        run: make e2e
