
name: UI tests execution

on: [push]

jobs:
  tests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [12.x]

    steps:
      - name: Checkout code
        uses: percona-platform/checkout@v2.3.1

      - name: Install Node.js ${{ matrix.node-version }}
        uses: percona-platform/setup-node@v2.1.1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install tools
        run: make init

      - name: Bootstrap
        run: make bootstrap

      - name: Start dev environment
        run: make dev

      - name: Execute tests
        run: make e2e
