
name: UI tests execution

on: [push]

jobs:
  test:
    name: Test
    timeout-minutes: 10

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name: Checkout code
        uses: percona-platform/checkout@v2.3.2

      - name: Install Node.js ${{ matrix.node-version }}
        uses: percona-platform/setup-node@v2.1.1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Enable node_modules cache
        uses: percona-platform/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
            ~/.npm
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-

      - name: Install tools
        run: make init

      - name: Bootstrap
        run: lerna bootstrap

      - name: Build Core
        run: lerna run build --scope='@percona/platform-core'

      - name: Link
        run: lerna link

      - name: Start project
        uses: percona-platform/github-action@v2
        working-directory: packages/platform-ui
        start: yarn start
        wait-on: 'http://localhost:3000'

      - name: Verify Cypress
        working-directory: packages/platform-ui
        run: yarn cypress verify

      - name: Run tests
        working-directory: packages/platform-ui
        run: yarn cy:run
